<div id="myModal" class="modal">
    <img class="modal-content" id="img01">
 <div id="caption"></div>
 <script>
     //script, html and css inspirered by: https://codeconvey.com/html-image-zoom-on-click/
// Get the modal
let modal = document.getElementById('myModal');
// Get the image and insert it inside the modal - use its "alt" text as a caption
let img = document.getElementById('myImg');
let modalImg = document.getElementById("img01");

function setupHandlers(){
    document.getElementById("table").onclick = handleClick
};
setupHandlers();

function handleClick(evt){
    const target = evt.target;
    if(target.tagName==="IMG"){
    const id = evt.target.id
    const img = document.getElementById(id)
    modal.style.display = "block";
    modalImg.src = img.src;
    }
}
// When the user clicks on <span> (x), close the modal
modal.onclick = function() {
    img01.className += " out";
    setTimeout(function() {
       modal.style.display = "none";
       img01.className = "modal-content";
     }, 400);
 }    
 </script>
<footer>
    <small>Alexander SørensenⒸ 2022 - MIT License</small>
</footer>
</body>
</html>